div {
  width: 250px;
  height: 250px;
}

.verde {
  background: rgb(5, 98, 5);
  order: 2;
}
.azul {
  background: rgb(5, 22, 98);
  order: 3
}
.rojo {
  background: rgb(193, 14, 5);
  order: 1;
}
.negro {
  background: #000;
  order: 4;
}

.padre {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.hijo {
  margin: 10px
}